
/* 

Eric Meyer's Aprox Reset
http://meyerweb.com/eric/tools/css/reset/ 

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	line-height: 130%;
	font: inherit;
	vertical-align: baseline;
}


html {
	-webkit-text-size-adjust: 100%;
	min-height: 100%;
}

body {
    background: #fff;
    font: 0.875rem/1.5em Inconsolata, monospace;
    color: #333;
	-webkit-text-size-adjust: 100%;
	min-height: 100%;
}

h1, p {
    margin: 2em 0;
}

ul {
    list-style-type: none;
}

li {
    color: #888;
}

a {
    color: #333;
}

a:visited {
    color: #999;
}

a:hover {
    color: #444;
}

a.selected {
    background: #e00;
    color: #e00;
}

iframe {
    width: 1100px;
    height: 200%;
    display: inline;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
}

#container {
    width: 1000px;
    -webkit-transition: margin-left .4s ease-in-out;
    transition: margin-left .4s ease-in-out;
}

#website {
    width: 550px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    -webkit-transition: margin-left .4s ease-in-out;
    transition: margin-left .4s ease-in-out;
}

#txt {
    margin: 4rem;
    float: right;
}

.hide {
    margin-left: -550px;
}

.show {
    margin-left: 0;
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : landscape) {
html {
	font-size: 1.2rem;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait) {
html {
	font-size: 1.6rem;
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
and (orientation : landscape) {
html {
	font-size: 2.6rem;
	}
body {
	padding: 2rem 0 4rem 2rem;
	}
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
and (orientation : portrait) {
html {
	font-size: 3rem;
	}
body {
	padding: 2rem 0 4rem 1rem;
	}
}
