---
permalink: /books/
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Rebooting…">
  <title>Rebooting…</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
  <ul>
{% for person in site.data.people %}
  <li>
    <a href="/{{ person.icon }}">Icon</a> {{ person.link | markdownify }}
  </li>
{% endfor %}
</ul>

{% assign sorted_books = site.data.books | sort: "date" | reverse %}
<ul>
{% for book in sorted_books %}
  {% if current_year != book.date | slice: 0, 4 %}
  {% assign current_year = book.date | slice: 0, 4 %}
  <h2>{{ current_year }}</h2>
{% endif %}
      <li>
        <strong>{{ book.title }}</strong> by {{ book.author }}
        <img src="{{ book.cover }}" alt="{{ book.cover }}">
        <p>{{ book.info }}</p>
        <a href="{{ book.url }}">{{ book.url }}</a>
      </li>
    {% endfor %}
  </ul>
  </body>
</html>
