---
layout: default
la: en
nav: "Home"
permalink: /
---

<article class="home-index">
    <div class="grid gutter">
        <div class="grid-33 h-i"></div>
        <div class="grid-66 h-i">
            <header class="header-index">
                <h1>UX, copywriter and web designer</h1>
                <h2>Fascinated with new media and deeply interested in communication, design and technology.</h2>
            </header>
        </div>
        <div id="work" class="grid-33">
            <h1>Work</h1>
        </div>
        <div class="grid-66">
            <section class="work-index">
<!--                 <p>Right now I'm busy working at <a href="https://spines.me/">Spines</a>, where we develop a personal learning tool to build deep, enduring knowledge.</p>
 -->                <h2>Selected work</h2>
                <ul>
                    {% assign work_by_date = site.work | where:"la", page.la | sort: 'date' %}
                    {% for work in work_by_date reversed %}
                    {% if work.selected == 1 %}
                    <li><a href="{{ work.permalink }}">{{ work.title }}</a> <span class="sidetitle">{{ work.brief }}</span></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </section>
        </div>
        <div id="info" class="grid-33">
            <h1>Info</h1>
        </div>
        <div class="grid-66">
            <section class="profile-index">
                <ul>
                    <li>Read my <a href="/profile/">profile</a>.</li>
                    <li>Find me on <a href="{{ site.alt.twitter }}">Twitter</a>, <a href="{{ site.alt.refind }}">Refind</a> and <a href="{{ site.alt.linkedin }}">LinkedIn</a>.</li>
                    <li>Say <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=105){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return " +
"o.substr(0,ol);}f(\")4,\\\"k771\\\\udnuh520\\\\i&**410\\\\~6\\\"\\\\%U\\\\\\"+
"\\HO400\\\\U_V^030\\\\PFA]EQCnBBJC[LF430\\\\JPOK@M=B z~hq8v*7<}~tdf|z\\\"\\" +
"\\771\\\\dlerej`\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirt" +
"S=+o;721=%y;2=*y))y+4(>i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y" +
",x(f noitcnuf\")"                                                            ;
while(x=eval(x));
//-->
//]]>
</script>hello</a>.</li>
</ul>
</section>
</div>
<div id="special" class="grid-33">
    <h1>Special</h1>
</div>
<div class="grid-66">
    <section class="special-index">
        <ul>
            <li><a href="/people/">People</a> I have met along the way.</li>
            <li><a href="/books/">Books</a> I enjoyed reading.</li>
            <li><a href="/links/">Links</a> to other places.</li>
        </ul>
    </section>
</div>
</div>
</article>
