---
layout: default
nav: "User experience design and copywriting."
---

<nav class="index grid gutter">
  <dl class="grid-width">
    <lh>Work</lh>
    {% assign work_by_date = site.work | sort: 'date' %}
    {% assign work_offset = site.work.size | minus: 5 %}    
    {% for work in work_by_date reversed limit:5 offset:work_offset %}
    <dt><a href="{{ work.permalink }}">{{ work.title }}</a>
</dt>
    <dd>{{ work.brief }}</dd>
    {% endfor %}
    {% if site.work.size > 5 %}
    <dt class="all-items"><a href="/work/">All work</a>&rarr;</dt>
    {% endif %}
</dl>

<dl class="grid-width">
    <lh>Projects</lh>
    {% assign project_by_date = site.projects | sort: 'date' %}
    {% assign projects_offset = site.projects.size | minus: 5 %}
    {% for project in project_by_date reversed limit:5 offset:projects_offset %}
    <dt><a href="{{ project.permalink }}">{{ project.title }}</a><sup style="color: red;">•</sup></dt>
    <dd>{{ project.brief }}</dd>
    {% endfor %}
    {% if site.projects.size > 5 %}
    <dt class="all-items"><a href="/projects/">All projects</a> &rarr;</dt>
    {% endif %}
</dl>

<dl class="grid-width">
    <lh>Info</lh>
    <dt><a href="/profile/">Profile</a></dt>
    <dd>About me</dd>
    <dt><a href="/profile/#contact">Contact</a></dt>
    <dd><script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=105){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return " +
"o.substr(0,ol);}f(\")4,\\\"k771\\\\udnuh520\\\\i&**410\\\\~6\\\"\\\\%U\\\\\\"+
"\\HO400\\\\U_V^030\\\\PFA]EQCnBBJC[LF430\\\\JPOK@M=B z~hq8v*7<}~tdf|z\\\"\\" +
"\\771\\\\dlerej`\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirt" +
"S=+o;721=%y;2=*y))y+4(>i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y" +
",x(f noitcnuf\")"                                                            ;
while(x=eval(x));
//-->
//]]>
</script>Write</a> —or <a href="https://twitter.com/intent/tweet?text=@adrianolatorre%20Hola!%20">tweet</a>— hello</dd>
</dl>
<dl class="grid-width">
    <lh>Special</lh>
    <dt><a href="/people/">People</a></dt>
    <dd>Found in the street</dd>
    <dt><a href="/books/">Books</a></dt>
    <dd>Recommended reading</dd>
    <dt><a href="/links/">Links</a></dt>
    <dd>Hypertext all the things!</dd>
</dl>
</nav>
