---
layout: default
---

<div class="home">
  <dl>
    <dt>Work</dt>
    {% assign work_by_date = site.work | sort: 'date' %}
    {% for work in work_by_date reversed %}
    <a href="{{ work.permalink }}">
      <dt>{{ work.title }}</dt>
      <dd>{{ work.brief }}</dd>
    </a>
    {% endfor %}
  </dl>

  <dl>
    <dt>Projects</dt>
    {% assign project_by_date = site.projects | sort: 'date' %}
    {% for project in project_by_date reversed %}
    <a href="{{ project.permalink }}">
      <dt>{{ project.title }}</dt>
      <dd>{{ project.brief }}</dd>
    </a>
    {% endfor %}
  </dl>

  <dl>
    <dt>Info</dt>
    <a href="#">
      <dt>Profile</dt>
      <dd>About me</dd>
    </a>
    <a href="#">
      <dt>Contact</dt>
      <dd>Say hello via mail or Twitter</dd>
    </a>
    <a href="#">
      <dt>People</dt>
      <dd>Found in the street</dd>
    </a>
    <a href="#">
      <dt>Books</dt>
      <dd>Ready thingies</dd>
    </a>
    <a href="/links/">
      <dt>Links</dt>
      <dd>Clicky thingies</dd>
    </a>
  </dl>


  
  <br><br><br><br><br><br><br><br><br><br>
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
