<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if page.nav contains 'Home' %}
    <title>Adriano Latorre</title>
    {% else %}
    <title>{{ page.nav }} – Adriano Latorre</title>
    {% endif %}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script src="/-/-.js"></script>

    <!-- Custom CSS -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/css/-.css' | prepend: site.baseurl }}">

</head>
