// elements.scss: unclassed HTML elements (type selectors).

// * {
//   background-color: $red !important;
// }

html {
  min-height: 100%;
}

body {
  background-color: $g99;
  color: $g25;
  font: 100%/1.5 'Source Sans Pro', Helvetica, sans-serif;
  min-height: 100%;
}

a {
  color: $g25;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

dd {
  margin: 0;
}

iframe {
  background-color: $w;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(64, 64, 64, .3);
  display: inline;
  height: 78em;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 58em;
}
