// elements.scss: unclassed HTML elements (type selectors).

html {
  min-height: 100%;
}

body {
  background-color: $g10;
  color: $g50;
  font: 100%/1.5em 'Source Sans Pro', sans-serif;
  min-height: 100%;
}

a {
  color: $g75;
}
