html {
  box-sizing: border-box;
  font: 100%/1.5 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 100%;
  @media all and (min-width: 96em) {
    font-size: 150%;
  }
  @media all and (min-width: 144em) {
    font-size: 200%;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

// *:hover { background-color: $red !important; }

body {
  background-color: $g99;
  color: $g24;
  margin: 0 auto 6em;
  max-width: 64em;
  min-height: 100%;
  padding: 0 1em;
}

::selection {
  background: $yellow;
}

a {
  color: $g24;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

dd {
  margin: 0;
}

iframe {

}

img {
  max-width: 100%;
}