
.header-nav {
  font-size: $f18;
  margin-top: 3em;
  li {
    display: inline-block;
    padding: 0;
  }
}

.flexbox-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -1em;
  padding: 0;
  > .fx-25 {
    flex: 0 0 100%;
    padding: 0 0 0 1em;
    @media all and (min-width: 41em) {
      flex: 0 0 33.3333%;
    }
    @media all and (min-width: 56em) {
      flex: 0 0 25%;
    }
  }
  > .fx-75 {
    flex: 0 0 100%;
    padding: 0 0 0 1em;
    @media all and (min-width: 41em) {
      flex: 0 0 66.6666%;
    }
    @media all and (min-width: 56em) {
      flex: 0 0 75%;
    }
  }
}

.global-footer {
  color: $g48;
  font-size: $f12;
  margin: 12em 0 0;
  a {
    color: $g48;
    &:hover {
      color: $g24;
    }
  }
}

.home-index {
  font-size: 1.5em;
}

.home-index .header-index {
  h1 {
    font-size: 3rem;
    line-height: 1.125em;
    @media all and (min-width: 41em) {
      font-size: 4rem;
    }
  }
  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.25em;
    @media all and (min-width: 41em) {
      font-size: 2rem;
    }
  }
}

.home-index section {
  h2 {
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 3em;
    text-transform: uppercase;
    @media all and (min-width: 41em) {
    font-size: .875em;
  }
  }
  ul {
    line-height: 1.75em;
    list-style-position: outside;
    list-style-type: none;
    padding: 0;
  }
  li {
    line-height: 1.375em;
    margin: .75em 0;
  }
}

.home-index .grid-33 {
  border-top: 1px solid $g95;
  border-top: .5px solid $g90;
  margin-top: 4em;
}

.home-index .grid-66 {
  border-top: 0;
  margin-top: 0;
  @media all and (min-width: 41em) {
    border-top: 1px solid $g95;
    border-top: .5px solid $g90;
    margin-top: 4em;
  }
}

.home-index .h-i {
  border-top: 0;
  margin-top: 1em;
}

.home-index .grid-33 {
  h1 {
    font-size: 1.5rem;
    margin: 1em 0;
    @media all and (min-width: 41em) {
      font-size: 1.125rem;
      font-weight: 600;
      margin: 1.625em 0;
    }
  }
}

.work-index {
  p {
    font-size: .875em;
    @media all and (min-width: 41em) {
      font-size: 1em;
    }
  }
}

ul.skill-pills {
  color: $g40;
  margin: .75em 0 0;
  padding: 0;
  li {
    background-color: $g95;
    border-radius: 2px;
    display: inline-block;
    font-size: $f16;
    font-weight: 600;
    margin: 0 .25em .375em 0;
    padding: .25em .75em;
    @media all and (min-width: 41em) {
      padding: .25em 1.5em;
    }
  }
}

.nazgul {
  color: $g99;
}

ul.happy-clients {
  columns: 2;
  column-gap: 1em;
  margin-top: 1.25em;
  li {
    font-size: .75em;
    margin: .5em 0;
    &:first-child {
      margin-top: 0;
    }
  }
}

.profile-image {
  border-radius: 2px;
  line-height: 0;
  margin-top: 2.5em;
  overflow: hidden;
  text-align: center;
  img {
    margin-left: -66.66%;
    max-width: 200%;
    width: 200%;
  }
  @media all and (min-width: 41em) {
    img {
      margin: 0;
      max-width: 100%;
    }
  }
}

.profile-experience {
  font-size: .75em;
  dd {
    margin-bottom: 1em;
  }
  dt,
  dd:first-child {
    font-weight: 600;
    margin-bottom: 0;
  }
}

.subtitle {
  color: $g40;
  font-size: .75em;
  margin-bottom: 1em;
}

.sidetitle {
  color: $g40;
  display: block;
  font-size: .75em;
  margin-bottom: 1em;
  margin-top: -.25em;
  @media all and (min-width: 41em) {
    display: inline;
    &::before {
      content: "—";
    }
  }
}