// objects.scss: cosmetic-free design patterns (OOCSS).

.container {
  margin: 0 auto 10em;
  padding: 0 2em;
  max-width: 64em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-width {
  flex: 0 0 100%;
  @media all and (min-width: 23em) {
    flex: 0 0 50%;
  }
  @media all and (min-width: 47em) {
    flex: 0 0 25%;
  }
}

.gutter {
  margin: 0 0 0 -1em;
  > .grid-width {
    padding: 0 0 0 1em;
  }
}

.header-nav {
  font-size: $f18;
  margin-top: 3em;
  a {
    font-weight: 600;
    text-decoration: none;
  }
  > ul {
    padding: 0;
  }
  > li {
    display: inline-block;
    padding: 0;
  }
  .grid-1 {
    margin-left: 1em;
  }
}

.index {
  font-size: $f18;
  margin-top: 4em;
  > dl {
    margin-top: 3em;
    > lh {
      font-weight: 600;
    }
    > dt {
      border-top: .5px solid $g90;
      margin-top: 1em;
      padding-top: 1em;
    }
    > dd {
      color: $g50;
      font-size: $f14;
    }
  }
}

.all-items {
  font-size: $f16;
  a {
    transition: margin .25s ease-out;
    &:hover {
      margin-right: .375em;
    }
  }
}

.people {
  font-size: $f18;
  margin-top: 8.5em;
  > dl {
    margin: 0 0 2em;
    > dt {
      border-top: .5px solid $g90;
      margin: 1em 0;
      padding-top: 1em;
    }
    > dd {
      color: $g50;
      font-size: $f14;
    }
  }
}

.books {
  font-size: $f18;
  margin-top: 8em;
  align-items: flex-end;
  > dl {
    > dt {
      margin: .5em 0;
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    > dd {
      font-size: $f16;
      height: 5em;
      line-height: 1.375;
      padding-right: 1em;
      &.author {
        font-size: $f14;
        height: 1.75em;
        margin-top: .175em;
      }
      > .info {
        color: $g50;
      }
    }
  }
}

.links {
  font-size: $f18;
  margin-top: 5em;
  > h3 {
    background: $g99;
    border-bottom: .5px solid $g90;
    border-top: .5px solid $g90;
    flex: 0 0 50%;
    font-size: $f18;
    font-weight: 400;
    margin: 1em 0;
    padding: 1em 0;
    position: -webkit-sticky;
    top: -1px;
  }
  > dl {
    > dt {
      margin: 1em 0 0;
    }
    > dd {
      color: $g50;
      font-size: $f14;
    }
  }
}

.footer {
  color: $g50;
  font-size: $f12;
  margin-top: 8em;
  text-align: center;
}

.work-cover {
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
}

.cover-frame {
  height: 40em;
  margin: 2.5em auto;
  overflow: hidden;
  padding: .5em;
  width: 33em;
}

.cover-img {
  margin: 2.5em auto;
  width: 32em;
  > img {
    display: block;
    max-width: 100%;
  }
}

.work-body {
  background-color: $g99;
  border-bottom: .5px solid $g90;
  border-top: .5px solid $g90;
  position: -webkit-sticky;
  position: sticky;
}

.work-info {
  margin: 1em auto;
  padding: 2em;
  width: 36em;
}

.work-media {
  > img {
    margin-top: 2em;
    max-width: 100%;
  }
}
