---
layout: default
---

<div class="books grid gutter">
  {% if page.url == '/books/' %}
  {% assign years = site.books | sort: 'decade' %}
  {% for decade in years reversed %}
  {% for book in decade.books | limit:12 %}
  {% assign all_books = all_books + book %}
  <dl class="grid-thirds">
    <dt><a href="{{ book.link }}"><img src="/-/books/{{ book.cover }}"/></a></dt>
    <dd class="author"><a href="{{ book.info }}" class="info">{{ book.author }}</a></dd>
    <dd><a href="{{ book.link }}">{{ book.title }}</a></dd>
  </dl>
  {% endfor %}
  {% endfor %}
  {{ all_books }}
  {% else %}
  {% for book in page.books %}
  <dl class="grid-thirds">
    <dt><a href="{{ book.link }}"><img src="/-/books/{{ book.cover }}"/></a></dt>
    <dd class="author"><a href="{{ book.info }}" class="info">{{ book.author }}</a></dd>
    <dd><a href="{{ book.link }}">{{ book.title }}</a></dd>
  </dl>
  {% endfor %}
  {% endif %}
</div>

<nav>
  <ol class="decades grid gutter">
    {% for decade in site.books reversed %}
    {% if page.url == decade.url %}
    <li class="grid-eights"><span>{{ decade.decade }}</span></li>
    {% else %}
    <li class="grid-eights"><a href="{{ decade.url }}">{{ decade.decade }}</a></li>
    {% endif %}
    {% endfor %}
  </ol>
</nav>
