---
layout: default
---

<div class="books grid gutter">
{% assign library = site.books | sort: 'date' %}
  {% for book in library reversed %}
  <dl class="grid-thirds">
    <dt><a href="{{ book.link }}"><img src="/-/books/{{ book.cover }}"/></a></dt>
    <dd class="author"><a href="{{ book.info }}" class="info">{{ book.author }}</a></dd>
    <dd><a href="{{ book.link }}">{{ book.title }}</a></dd>
  </dl>
  {% endfor %}
</div>

{% if page.url == '/books/' %}
Latest
{% else %}
<a href="/books/">Latest</a>
{% endif %}
2010 2000 1990 1980 1970
{% assign library = site.books | sort: 'read' %}
{% for book in library reversed %}
{{ page.url }}
{% if page.url == book.permalink %}
{{ page.url }}
{% else %}
<a href="{{ book.permalink }}">{{ page.url }}{{ book.read | date: "%Y" | to_string | slice: -2, 1 }}/</a>
{% endif %}
{% endfor %}
