---
layout: default
---

{% assign links_by_year = site.links | sort: 'year' %}
{% for link in links_by_year reversed %}
<a href="{{ link.permalink }}">{{ link.year }}</a>
{% endfor %}

{{ content }}

<dl>
  {% for categories in site.sources %}
  {% for category in categories %}
  {% for links in category %}
  {% for source in links %}
  <dt><a href="{{ source.url }}">{{ source.title }}</a></dt>
  <dd>{{ source.icon }}</dd>
  <br>
  {% endfor %}
  {% endfor %}
  {% endfor %}
  {% endfor %}
</dl>