---
layout: default
---

{% assign links_by_year = site.links %}
{% for link in links_by_year reversed %}
{% if page.url == link.permalink %}
{{ link.year }}
{% else %}
<a href="{{ link.permalink }}">{{ link.year }}</a>
{% endif %}
{% endfor %}

{{ content }}

  {% for all_sources in site.sources %}
  {% for every_category in all_sources %}
  {% for all_links in every_category %}
  {% for source in all_links %}
<dl>
  <dt><a href="{{ source.url }}">{{ source.title }}</a></dt>
  <dd>{{ source.icon }}</dd>
  <br>o
</dl>
  {% endfor %}
  {% endfor %}
  {% endfor %}
  {% endfor %}
