---
layout: default
---

{% assign links_by_year = site.links %}
{% for link in links_by_year reversed %}
{% if page.url == link.permalink %}
{{ link.year }}
{% else %}
<a href="{{ link.permalink }}">{{ link.year }}</a>
{% endif %}
{% endfor %}

<div class="links grid gutter">
  {{ content }}
</div>


<dl>
  {% assign sorted = site.sources | group_by:'category' | sort:'name' %}
  {% for category in sorted %}
  {{ category.name }}
  {% for source in category.items %}
  <dt><a href="{{ source.www }}">{{ source.title }}</a></dt>
  <dd><small>{% for tag in source.tags %}{{ tag }} {% endfor %}</small></dd>
  {% endfor %}
  {% endfor %}
</dl>
