---
layout: default
---

{% if page.url == "/projects/" %}

{% assign projects = site.projects | sort: 'date' %}
{% for project in projects reversed %}
</div>
<dl>
  <dt><a href="{{ project.permalink }}"><img src="/-/projects/{{ project.id }}/{{ project.media.cover }}"/></a></dt>
  <dd>{{ project.title }}</dd>
</dl>
{% endfor %}

{% else %}
</div>
<article class="portfolio-item">
  <header class="item-cover">
    <div class="item-demo">
      {% if page.online == 1 %}
      <div class="cover-frame"><iframe src="{{ page.demo_url }}"></iframe></div>
      {% else %}
      <img src="/-/projects/{{ page.id }}/{{ page.media.cover }}"/>
      {% endif %}
    </div>
    <div class="item-meta">
      <h3>{{ page.title }}</h3>
      <div class="item-info">
        <p>{{ page.description }}</p>
      </div>
      <div>
        <ul class="item-labels">{% for task in page.tasks %}<li>{{ task }}</li>{% endfor %}</ul>
        {% if page.online == 1 %}
        &rarr; <a href="{{ page.main_url }}">{{ page.address }}</a>
        {% else %}
        <span>{{ page.address }}</span>
        {% endif %}
    </div>
  </header>
    <nav>
    <div class="item-next">
      Next
    </div>
    <div class="item-previous">
      Previous
    </div>
  </nav>
</article>
<div class="container">
  {% endif %}
