---
layout: default
---

{% if page.url == "/projects/" %}

{% assign projects = site.projects | sort: 'date' %}
{% for project in projects reversed %}
<dl>
  <dt><a href="{{ project.permalink }}">{{ project.title }}</a></dt>
  <dd>{{ project.brief }}</dd>
  <dd>{{ project.description }}</dd>
</dl>
{% endfor %}

{% else %}

<h3>{{ page.title }}</h3>
<p><a href="{{ page.main_url }}">{{ page.address }}</a></p>
<p>{{ page.description }}</p>
<p>{% for task in page.tasks %}<span>{{ task }}</span>{% endfor %}</p>

{% endif %}