---
layout: the-wick
---

<dl>
<dt><h3><a href="/w/{{ page.edition }}/">#{{ page.edition }}</a> {{ page.title }}</h3></dt>
{% for link in page.links %}
<dt><a href="{{ link.url }}">{{ link.title }}</a></dt>
<dd>{{ link.description }}</dd>
<!-- <dd>{% for tag in link.tags %}
{{ tag }} {% endfor %}</dd> -->
{% endfor %}
</dl>

{% assign current = site.the_wick | last %}
{% if page.edition < current.edition %}
<p><a href="/w/{{ page.edition | plus: 1 }}">Next</a></p>
{% endif %}
{% if page.edition > 1 %}
<p><a href="/w/{{ page.edition | minus: 1 }}">Previous</a></p>
{% endif %}

{% include the-wick-footer.html %}
