---
layout: the-wick
---

<dl>
<dt><h3><a href="/w/{{ page.edition }}/">#{{ page.edition }}</a> {{ page.title }}</h3></dt>
{% for link in page.links %}
<dt><a href="{{ link.url }}">{{ link.title }}</a></dt>
<dd>{{ link.description }}</dd>
<!-- <dd>{% for tag in link.tags %}
  <a href="/w/tag/{{ tag }}/">{{ tag }}</a>
{% endfor %}</dd> -->
{% endfor %}
</dl>

{% assign all_sorted = site.the_wick | sort: "edition" %}
{% assign current = all_sorted | last %}
{% assign next_page = page.edition | plus: 1 %}
{% assign previous_page = page.edition | minus: 1 %}
{% assign next_title = page.edition %}
{% assign previous_title = page.edition | minus: 2 %}
{% if page.edition < current.edition %}
<p><a href="/w/{{ next_page }}">Next: {{ all_sorted[next_title].title }}</a></p>
{% endif %}
{% if page.edition > 1 %}
<p><a href="/w/{{ previous_page }}">Previous: {{ all_sorted[previous_title].title }}</a></p>
{% endif %}

{% include the-wick-footer.html %}
