---
layout: default
---

<div class="books grid gutter">
  {% if page.url == '/w/' %}
  {% assign years = site.w | sort: 'year' %}
  {% assign counter = 0 %}
  {% for year in years reversed %}
  {% for edition in year.editions %}
  {% if counter < 8 %}
  {% assign counter = counter | plus:1 %}
  <dl class="grid-thirds">
    <dt><a href="{{ edition.link }}"><img src="/-/w/{{ edition.number }}.jpg"/></a></dt>
    <dd><a href="{{ edition.link }}">{{ edition.title }}</a></dd>
    <dd>{{ edition.info }}</dd>
    <dd><a href="{{ edition.link }}">{{ edition.link }}</a></dd>
    <dd>{{ edition.emoji }}</dd>
  </dl>
  {% endif %}
  {% endfor %}
  {% endfor %}
  {% else %}
  {% for edition in page.editions %}
  <dl class="grid-thirds">
    <dt><a href="{{ edition.link }}"><img src="/-/w/{{ edition.number }}.jpg"/></a></dt>
    <dd><a href="{{ edition.link }}">{{ edition.title }}</a></dd>
    <dd>{{ edition.info }}</dd>
    <dd><a href="{{ edition.link }}">{{ edition.link }}</a></dd>
    <dd>{{ edition.emoji }}</dd>
  </dl>
  {% endfor %}
  {% endif %}
</div>

<nav>
  <ol class="decades grid gutter">
    {% if page.url == '/w/' %}
    <li class="grid-eights"><span>Recent</span></li>
    {% else %}
    <li class="grid-eights"><a href="/w/">Recent</a></li>
    {% endif %}
    {% for year in site.w reversed %}
    {% if page.url == year.url %}
    <li class="grid-eights"><span>{{ year.year }}</span></li>
    {% else %}
    <li class="grid-eights"><a href="{{ year.url }}">{{ year.year }}</a></li>
    {% endif %}
    {% endfor %}
  </ol>
</nav>
