---
layout: default
---

{% if page.url == "/work/" %}
{% assign portfolio = site.work | sort: 'date' %}
<div class="cards grid gutter">
  {% for work in portfolio reversed %}
  {% if work.selected == 1 %}
  <dl class="card-item grid-33">
    <dt><a href="{{ work.permalink }}"><img src="/-{{ work.permalink }}{{ work.media.card }}"/></a></dt>
  </dl>
  {% endif %}
  {% endfor %}
</div>
{% else %}
<article class="portfolio-item">
  <header>
    <!-- <img src="/-{{ page.permalink }}{{ page.media.cover }}"/> -->
    <div class="item-info">
      <div class="item-description">
        <h1>{{ page.title }}</h1>
        <h2>{{ page.brief }}</h2>
        {{ page.description }}
        {% for metaurl in page.meta_urls %}
        <h3><a href="{{ metaurl.main_url }}">{{ metaurl.address }}</a></h3>
        {% endfor %}
        <ul class="item-labels">{% for task in page.tasks %}<li>{{ task }}</li>{% endfor %}</ul>
      </div>
      {% if page.online == 1 %}
      <div class="ui-frame"><iframe src="{% if page.meta_urls[0].demo_url %}{{ page.meta_urls[0].demo_url }}{% else %}{{ page.meta_urls[0].main_url }}{% endif %}"></iframe></div>
      {% else %}
      <div class="ui-image"><img src="/-/work/{{ page.wid }}/{{ page.media.ui }}"/></div>
      {% endif %}
    </div>
  </header>
  <div class="item-media">
    <img src="/-/work/{{ page.wid }}/{{ page.media.ui }}"/>
    {% for image in page.media.images %}
    {% if image contains '.mp4' %}
    <video src="/-/work/{{ page.wid }}/{{ image }}" loop autoplay poster="/-/work/{{ page.wid }}/{{ page.media.cover }}"></video>
    {% elsif image contains 'youtube.com' %}
    <div width="853" height="480" class="responsive-video"><iframe src="{{ image }}?rel=0" frameborder="0" allowfullscreen></iframe></div>
    {% else %}
    <img src="/-/work/{{ page.wid }}/{{ image }}"/>
    {% endif %}
    {% endfor %}
  </div>
  <nav class="item-browser grid gutter">
    {% assign works = site.work | where:"la", page.la | sort: 'date' %}
    {% for work in works %}
    {% if work.id == page.id %}
    {% assign next_i = forloop.index0 | plus: 1 %}
    {% if forloop.last == false %}
    <div class="item-next grid-50">
      <h4>Next</h4>
      <a href="{{ works[next_i].permalink }}">{{ works[next_i].title }}</a><br>
      {{ works[next_i].brief }}
    </div>
    {% else %}
    <div class="item-next grid-50"></div>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% assign works = site.work | where:"la", page.la | sort: 'date' %}
    {% for work in works %}
    {% if work.id == page.id %}
    {% assign prev_i = forloop.index0 | minus: 1 %}
    {% if forloop.first == false %}
    <div class="item-previous grid-50">
      <h4>Previous</h4>
      <a href="{{ works[prev_i].permalink }}">{{ works[prev_i].title }}</a><br>
      {{ works[prev_i].brief }}
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
  </nav>
</article>
{% endif %}
