---
layout: default
---

{% if page.url == "/work/" %}

{% assign portfolio = site.work | sort: 'date' %}
{% for work in portfolio reversed %}
<dl>
  <dt><a href="{{ work.permalink }}"><img src="/-/work/{{ work.id }}/{{ work.media.cover }}"/></a></dt>
  <dd>{{ work.title }}</dd>
</dl>
{% endfor %}

{% else %}

<div class="work-cover">
  {% if page.online == 1 %}
  <div class="cover-frame"><iframe src="{{ page.demo_url }}"></iframe></div>
  {% else %}
  <div class="cover-img"><img src="/-/work/{{ page.id }}/{{ page.media.cover }}"/></div>
  {% endif %}
</div>
<div class="work-body">
  <div class="work-info">
    <h3>{{ page.title }}</h3>
    {% if page.online == 1 %}
    <p><a href="{{ page.main_url }}">{{ page.address }}</a></p>{% endif %}
    <p>{{ page.description }}</p>
    <p>{% for task in page.tasks %}<span>{{ task }}</span>{% endfor %}</p>
  </div>
  <div class="work-media">
    {% for image in page.media.images %}
    <img src="/-/work/{{ page.id }}/{{ image }}"/>
    {% endfor %}
  </div>
</div>
{% endif %}
